* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #FFF;
}

body{
  background-color: black;
  padding: 2 rem;
}
p{
  text-align: center;
}

a{
  text-decoration: none;
}